@font-face {
  font-family: Raleway-Thin;
  src: url(../font/Raleway-Thin.ttf);
}

table {
  width: 300px;
  height: 260px;
  border-collapse: separate;
  border-spacing: 3px;
  border-radius: 10px;
}

table, td {
  border: 1px solid black;
  padding: 5px;
}

td {
  border-radius: 100px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  font-family: Raleway-Thin;
}

.red {
  background: #ff3c3d;
}

.black {
  background: #121921;
}

#turn {
  border: 1px solid black;
  padding: 16.5px;
  border-radius: 100px;
  display: inline-block;
}
